@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-primary bg-primary;
  font-size: 14px;
}

.page {
  @apply pt-4;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-significant;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

p {
  @apply text-lg text-primary;
}

[id] {
  scroll-margin: 72px;
}

.basic-links a {
  @apply underline text-significant;
}

.markdown-content ul {
  @apply text-lg mt-4;
  list-style: inside;
}

.markdown-content ol {
  @apply text-lg mt-4;
  list-style: inside;
}

.markdown-content p:not(blockquote > p) {
  @apply mt-4 text-lg;
}

.markdown-content h1 {
  @apply mt-4;
}
.markdown-content h2 {
  @apply mt-4;
}
.markdown-content h3 {
  @apply mt-4;
}
.markdown-content h4 {
  @apply mt-4;
}
.markdown-content h5 {
  @apply mt-4;
}
.markdown-content h6 {
  @apply mt-4;
}

.markdown-content blockquote {
  @apply pl-4 border-l-4 bg-secondary mt-4 py-4 rounded;
}

.markdown-content code:not(pre > code) {
  @apply rounded bg-active px-2 mx-1 py-0.5 text-significant;
}

.markdown-content pre {
  @apply rounded bg-secondary p-4 mt-4 font-mono;
}
